* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/vintage-concrete.png");
    background-color: #ffffff;
    color: #777777;
    margin: auto;
}

a {
    text-decoration: none;
}

.main_header {
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
}

header {
    height: 100px;
    width: 960px;
    margin: auto;
}

.header_name {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding: 40px 20px 40px 20px;
    text-align: center;
    height: 100%;
}

.header_links {
    float: right;
    list-style-type: none;
    display: block;
    padding: 40px 20px 40px 20px;
}

.about,
.portfolio,
.contact {
    float: left;
    display: block;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.about:hover,
.portfolio:hover,
.contact:hover {
    font-size: 22px;
}

.about,
.portfolio {
    border-right: 2px solid #e7e2e2;
}

.main_section {
    width: 960px;
    margin: auto;
    margin-bottom: 125px;
}

section {
    width: 650px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-top: 35px;
    line-height: 150%;
}

.p_header {
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    margin: 5%;
    border-bottom: 2px solid #e7e2e2;
    padding-bottom: 15px;
}

aside {
    float: right;    
}

nav {
    width: 270px;
    height: 180px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.social_media_links {
    list-style-type: none;
    display: block;
    padding: 0px 20px;
    margin-top: 10%;
}

.github,
.linkedin,
.stack {
    float: left;
    display: block;
    padding: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;  
}

.github_image:hover,
.linkedin_image:hover,
.stack_image:hover {
    opacity: .5;
}

.p_header,
.media_links {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.media_links {
    color: #4aaaa5;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10%;
    border-bottom: 2px solid #e7e2e2;
    padding-bottom: 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
}

.footer_text {
    text-align: center;
    color: #ffffff;
    margin: 60px;
}

/* -------About Me Page Content ------ */

.main_pic {
    float: left;
    margin-left: 5%;
    margin-right: 20px;
}

.about_me {
    margin: 5%;
    font-size: 18px;
    text-indent: 50px;
}

/* -------Contact Page Content------ */

form {
    padding: 0px 8px 8px 8px;
    margin: 0px 10px 10px 10px;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 8px;
    margin: 8px 0px;
}

textarea {
    width: 100%;
    height: 175px;
}

input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    text-decoration: none;
    padding: 8px 20px;
    margin-top: 10px;
    color: #ffffff;
}

input[type=submit]:hover {
    box-shadow: 5px 5px 5px grey;
}

/* -------Portfolio Page Content------ */

.project_links {
    margin: 20px;
}

.hangman,
.rpg,
.rutgers,
.rps,
.trivia {
    position: relative;
    display: inline-block;
    text-align: center;
}

.hangman_image:hover,
.rpg_image:hover,
.rutgers_image:hover,
.rps_image:hover,
.trivia_image:hover {
    box-shadow: 10px 10px 5px grey;
}

.hangman,
.trivia {
    float: right;
}

.rutgers,
.trivia,
.rps {
    padding-top: 40px;
}

.hangman_text,
.rpg_text,
.rutgers_text,
.rps_text,
.trivia_text {
    position: absolute;
    top: 65%;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 25px;
    width: 100%;
    padding: 20px 0px;
}

.rpg_text,
.hangman_text {
    top: 60%
}


